@font-face {
    font-family:'hollow';
    src: url('../assets/font/Trajan Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'hollow',Times,serif;
}

header {
    display: flex;
    padding: 0.375rem 0;
    background: rgb(54,54,54);
    background: linear-gradient(180deg, rgba(54,54,54,1) 5%, rgba(37,37,37,1) 22%, rgba(0,0,0,1) 45%);
    width: 100%;
    justify-content: flex-start;
}

main{
    width: 100%;
    background-image: url(../assets/img/backCadastro.jpg);
    background-size: cover;
    height: 89vh /* 100% */;
}

footer {
    display: flex;
    padding: 0.375rem 0;
    width: 100%;
    height:100%;
    max-height: 1100px;
    justify-content: center;
}

.imgHeader{
    margin-left: 20px;
}

.avisoNome, .avisoEmail, .avisoSenha, .avisoConfirmarSenha{
    display: none;
    color: rgb(116,29,26);
    max-width: 300px;
    font-size: 0.825em;
    margin-bottom: 5px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}
  
.loading-div img {
    height: 50px;
    width: 50px;
}

.form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-form{
    background-color:tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    width: 30%;
    height: 50%;
}

.imgFooter{
    width: 100%;
}