.rankings{
    display: flex;
    flex-direction: column;
}

.ranking{
    margin-top: 0.9375rem;
    border: 0.0625rem solid #0b0808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    background: rgba(166, 166, 166, 0.545);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 0.625rem;
    border: 1px solid rgba(255, 255, 255, 0.375);
}

.ranking-imgs{
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-left: 1.25rem;
  }

.img-Chefes{
    width: 9.375rem;
    border-radius: 0.625rem;
}

.img-posicao{
    width: 5rem;
    border-radius: 0.625rem;
}

.titulo-chefe{
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    margin-right: 3.125rem;
}

.votos{
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.25rem;
}