@font-face {
    font-family:'hollow';
    src: url('../assets/font/Trajan Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'hollow',Times,serif;
}

header {
    display: flex;
    padding: 0.375rem 0;
    background: rgb(54,54,54);
    background: linear-gradient(180deg, rgba(54,54,54,1) 5%, rgba(37,37,37,1) 22%, rgba(0,0,0,1) 45%);
    width: 100%;
    justify-content: center;
}

main{
    width: 100%;
    background-color: black;
}

footer {
    display: flex;
    padding: 0.375rem 0;
    background: rgb(54,54,54);
    background: linear-gradient(180deg, rgba(54,54,54,1) 5%, rgba(37,37,37,1) 22%, rgba(0,0,0,1) 45%);
    width: 100%;
    justify-content: center;
}

/* container pai */

.container {
    width: 90%;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-nav{
    color: #FFF2E7;
    border: 1px solid #FFF2E7;
    background-color: transparent;
    border-radius:5px;
    padding: 5px;
}

.btn-nav:hover{
    color: black;
    background: rgb(228,228,228);
    background: linear-gradient(180deg, rgba(228,228,228,1) 12%, rgba(221,205,162,1) 62%);
}

.itemContainer{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.item{
    display: flex;
    align-items: center;
    color: white;
}

.containerHero{
    width: 100%;
}

.containerHero img{
    width: 100%;
}

/* Scroll bar*/
::-webkit-scrollbar{
    background-color: #202020;
}

::-webkit-scrollbar-thumb{
    background-color: #0e0e0e;
}

.containerSobre{
    display: flex;
    padding: 0.375rem 0;
    background-color: black;
}

.containerImagemSobre{
    width: 40%;
    padding: 3.125rem 3.125rem 3.125rem 3.125rem;
    justify-content:center;
}

.imagemSobreBoss{
    width: 100%;
    -webkit-box-shadow: -0.0625rem 0.0625rem 5.4375rem -0.6875rem rgba(252,252,244,1);
    -moz-box-shadow: -0.0625rem 0.0625rem 5.4375rem -0.6875rem rgba(252,252,244,1);
    box-shadow: -0.0625rem 0.0625rem 5.4375rem -0.6875rem rgba(252,252,244,1);
}

.containerConteudoSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3.125rem 3.125rem 3.125rem 3.125rem;
    justify-content:center;
}

.imagemSobreLogo{
    width: 50%;
    justify-content:center;
    margin-bottom: 1.875rem;
}

.textoSobre{
    width: 80%;
    font-size: 0.875rem;
    color: white;
}

.containerHistoria{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content:center; 
}

.containerMinhaHistoria{
    display: flex;
    width: 90%;
}

.hollowBike{
    margin-bottom:-5px;
}

.conteudoMinhaHistoria{
    width: 40%;
}

.tituloMinhaHistoria{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.textoMinhaHistoria{
    font-size: 18px;
}

.containerConteudoMH{
    display: flex;
    justify-content: space-evenly;
}

.imgHistoria{
    width: 30%;
}

.containerValores{
    display: flex;
    width: 100%;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    background-color:black;
}

.containerTituloValores{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-bottom:20px;
    text-align: center;
}

.containerCards{
    display: flex;
    justify-content:space-evenly;
    width: 90%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 25%;
    background-color:whitesmoke;
    border-radius: 5px;
    margin-top: 20px;
}

.containerConteudoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgCard{
    justify-content: center;
    width: 50%;
}

.tituloValores{
    font-size:30px;
    color: whitesmoke;
}

.tituloCardValores{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color:black;
}

.textoValores{
    font-size:18px;
    color:black;
}

.containerTextoValores{
    justify-content:center;
    margin-top: 10px;
    width: 75%;
}

.rodape{
    width: 100%;
    height: 15vh;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-titulo{
    font-weight: 300;
    font-size:18px ;
    color: #FFF2E7;
    display: flex;
    align-items:center;
    justify-content: center;
}

.img-js{
    display: none;
}

.ativo{
    display: block !important;
    animation-name: opacity;
    animation-duration: 1s;
}
  
@keyframes opacity {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }

.js-scroll.animate #t200{
    transition: 0.8s;
    transition-delay: 0.2s;
  }
/* 
------------------------ 
Scroll Nav Bar
*/
.sticky {
    -webkit-transition: 0.3s;
    transition: 1s;
    z-index: 2; 
    width: 100%;
    position: fixed;
    box-shadow: 0 8px 32px 0 white;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
}